/* add home page styles here */

.hidden {
    display: none;
}

.form {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

.purchased {
    text-decoration: line-through;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}